body {
  font-family: 'Roboto', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--secondary-color);
  color: var(--text-color);
}

.campo-section {
  text-align: center;
  padding: 20px;
  background-color: var(--background-color);
  margin: 20px auto;
  max-width: 800px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.campo-section h1 {
  font-size: 28px;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.campo-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.campo-image {
  width: 100%;
  max-width: 600px;
  height: 350px; /* Altura fixa */
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.campo-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.carousel-btn {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.carousel-btn:hover {
  background-color: var(--hover-primary-color);
}
.reserve-btn {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 12px 25px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.reserve-btn:hover {
  background-color: var(--hover-primary-color);
}


.campo-info {
  background-color: var(--background-color);
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.campo-info h2 {
  font-size: 22px;
  color: var(--primary-color);
  margin-bottom: 10px;
}

.campo-info p {
  font-size: 16px;
  margin-bottom: 20px;
}

.campo-actions {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.action-btn {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.action-btn:hover {
  background-color: var(--hover-primary-color);
}
.campo-info-list {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.campo-info-list li {
  font-size: 16px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.campo-info-list i {
  color: var(--primary-color);
  font-size: 18px;
}

/* Modal de Reserva */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Fundo escuro com transparência */
}

.modal-content {
  background-color: var(--background-color);
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 20px;
  border-radius: 10px;
  width: 90%; /* Ajuste para telas menores */
  max-width: 600px; /* Limite de largura */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  overflow-y: auto; /* Permitir scroll se o conteúdo for muito grande */
  max-height: 90%; /* Limitar a altura */
}

.modal-content .close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
  color: var(--text-color);
  transition: color 0.3s;
}

.modal-content .close:hover {
  color: var(--primary-color);
}

/* Calendário */
.calendario-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.calendario-btn {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.calendario-btn:hover {
  background-color: var(--hover-primary-color);
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.calendar-day {
  padding: 10px;
  text-align: center;
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.calendar-day:hover {
  background-color: var(--hover-primary-color);
  color: white;
}

.calendar-day.active {
  background-color: var(--primary-color);
  color: white;
}

.calendar-day.disabled {
  color: #ccc;
  text-decoration: line-through;
  cursor: not-allowed !important; /* Garante que o cursor não muda no hover */
  background-color: #f0f0f0 !important; /* Garante que o background não muda no hover */
}

.calendar-day.empty {
  background-color: transparent;
  border: none;
  cursor: default;
}

.calendar-day-header {
  font-weight: bold;
  text-align: center;
  padding: 8px 5px; /* Ajuste o padding conforme necessário */
  background-color: #e9e9e9; /* Um fundo leve para os cabeçalhos */
  border: 1px solid var(--border-color);
  border-radius: 3px;
  font-size: 0.9em;
}

/* Horários */
.horarios-list {
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 10px;
  background-color: var(--background-color);
}

.horario-slot {
  padding: 10px;
  margin-bottom: 10px;
  background-color: white;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.horario-slot:hover {
  background-color: var(--hover-primary-color);
  color: white;
}

.horario-slot.selected {
  background-color: var(--primary-color);
  color: white;
}

.horario-slot.ocupado {
  background-color: #ffdddd !important; /* Cor de fundo para indicar ocupado */
  color: #aaa !important; /* Cor do texto para indicar ocupado */
  cursor: not-allowed !important;
  text-decoration: line-through;
}

.horario-slot.ocupado:hover {
  background-color: #ffdddd !important; /* Mantém a cor no hover */
  color: #aaa !important;
}

/* Botões */
.acoes button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;

}

.acoes button:hover {
  background-color: var(--hover-primary-color);
}
/* Modal de Comodidades */
.comodidades-lista {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.comodidades-lista li {
  padding: 10px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: background-color 0.3s, color 0.3s;
}

.comodidades-lista li:hover {
  background-color: var(--hover-primary-color);
  color: white;
}

.comodidades-lista li.selecionada {
  background-color: var(--primary-color);
  color: white;
}

.comodidades-lista li i {
  font-size: 18px;
}

/* Modal de Reserva */
.modal-content {
  max-height: 90%; /* Limitar a altura do modal */
  overflow-y: auto; /* Permitir scroll no conteúdo */
}

/* Estilo para "Convidar Amigos" */
.convidar-amigos {
  margin-top: 20px;
  text-align: center;
}

.convidar-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.convidar-btn {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.convidar-btn:hover {
  background-color: var(--hover-primary-color);
}

/* Estilo para "Pagar" */
.pagar-container {
  margin-top: 20px;
  text-align: center;
}

.pagar-btn {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagar-btn:hover {
  background-color: var(--hover-primary-color);
}

/* Botão "X" para fechar o modal */
.modal-content .close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  font-weight: bold;
  color: var(--text-color);
  cursor: pointer;
  transition: color 0.3s;
}

.modal-content .close:hover {
  color: var(--primary-color);
}

/* Modal de Equipamentos */
#equipamentoModal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Fundo escuro com transparência */
}

#equipamentoModal .modal-content {
  background-color: var(--background-color);
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 20px;
  border-radius: 10px;
  width: 90%; /* Ajuste para telas menores */
  max-width: 600px; /* Limite de largura */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  overflow-y: auto; /* Permitir scroll se o conteúdo for muito grande */
  max-height: 90%; /* Limitar a altura */
}

#equipamentoModal .equipamento-lista {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#equipamentoModal .equipamento-lista li {
  padding: 10px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: background-color 0.3s, color 0.3s;
}

#equipamentoModal .equipamento-lista li:hover {
  background-color: var(--hover-primary-color);
  color: white;
}

#equipamentoModal .equipamento-lista li i {
  font-size: 18px;
}

/* Botões de Convidar Equipas */
.convidar-btn {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.convidar-btn:hover {
  background-color: var(--hover-primary-color);
}

.convidar-btn.selecionada {
  background-color: var(--hover-primary-color); /* Cor para indicar seleção */
  color: white;
  font-weight: bold;
}
/* Modal de Reserva */
.modal-content {
  max-height: 90%; /* Limitar a altura do modal */
  overflow-y: auto; /* Permitir scroll no conteúdo */
}

/* Lista de Horários */
.horarios-list {
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 10px;
  background-color: var(--background-color);
}

.horario-slot {
  padding: 10px;
  margin-bottom: 10px;
  background-color: white;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.horario-slot:hover {
  background-color: var(--hover-primary-color);
  color: white;
}

.horario-slot.selected {
  background-color: var(--primary-color);
  color: white;
}

.horario-slot.ocupado {
  background-color: #ffdddd !important; /* Cor de fundo para indicar ocupado */
  color: #aaa !important; /* Cor do texto para indicar ocupado */
  cursor: not-allowed !important;
  text-decoration: line-through;
}

.horario-slot.ocupado:hover {
  background-color: #ffdddd !important; /* Mantém a cor no hover */
  color: #aaa !important;
}
/* Calendário */
.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.calendar-day {
  padding: 10px;
  text-align: center;
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.calendar-day:hover {
  background-color: var(--hover-primary-color);
  color: white;
}

.calendar-day.active {
  background-color: var(--primary-color);
  color: white;
}

.calendar-day.disabled {
  color: #ccc;
  text-decoration: line-through;
  cursor: not-allowed !important; /* Garante que o cursor não muda no hover */
  background-color: #f0f0f0 !important; /* Garante que o background não muda no hover */
}

.calendar-day.empty {
  background-color: transparent;
  border: none;
  cursor: default;
}

/* Estilos para o Modal de Confirmação da Reserva */
#confirmacaoReservaModal .modal-content {
  max-width: 500px; /* Ajuste conforme necessário */
}


.resumo-reserva-detalhes p {
  margin: 8px 0;
  font-size: 1em;
  line-height: 1.6;
}

.resumo-reserva-detalhes strong {
  color: var(--primary-color); /* Ou outra cor de destaque */
}

.resumo-reserva-detalhes hr {
  margin: 15px 0;
  border: 0;
  border-top: 1px solid #eee;
}

.resumo-reserva-detalhes .preco-destacado,
.resumo-reserva-detalhes .preco-destacado span {
  font-size: 1.1em;
  font-weight: bold;
}

#confirmacaoReservaModal .modal-actions {
  display: flex;
  justify-content: flex-end; /* Alinha botões à direita */
  gap: 10px; /* Espaço entre botões */
  margin-top: 20px;
}

#confirmacaoReservaModal .modal-actions .pagar-btn,
#confirmacaoReservaModal .modal-actions .cancelar-btn {
  padding: 10px 20px;
  font-size: 1em;
}

.reserva-popup {
  text-align: center !important;
}

.horarios-content {
  margin-top: 20px !important;
  margin-bottom: 0px !important;
}

#calendarioMesAno {
  margin: 0px !important;
}


.comodidades-content {
  text-align: center !important;
}

.buttons-equip {
  background-color: var(--primary-color) !important;
    color: white !important;
    border: 2px solid var(--primary-color) !important;
    padding: 10px 20px !important;
    border-radius: 5px !important;
    cursor: pointer !important;
    transition: background-color 0.3s, color 0.3s !important;
}

.buttons-equip:hover {
  background-color: white !important;
  color: var(--primary-color) !important;
  border: 2px solid var(--primary-color) !important;
}